@charset "UTF-8";

header {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: grey; /* color temporal */
}

header img {
  width: 100px;
  height: auto;
  margin-right: 15px;
}

header h1 {
  font-size: 40px;
  margin: 0;
}

section {
  display: flex;
  align-items: center;
  gap: 20px; /* espacio entre el article y el aside */
  padding: 10px;
}

article img {
  width: 400px; 
  height: auto;
}

aside {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
}
