body {
    font-family: 'Playfair Display', serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #ef233c;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header-top {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-bottom {
    margin-top: 5px; 
    text-align: left;
}


header img {
    height: 140px;
}

header h1 {
    margin: 0;
    font-size: 2em; 
    font-family: 'Playfair Display', serif;
}

.header-bottom {
    display: flex;
    align-items: center;
    padding: 10px;
}

.header-bottom .left-buttons {
    display: flex;
    gap: 10px;
}


.btn.btn-primary {
    display: inline-block !important; 
    padding: 10px 20px !important;
    margin: 10px 0 !important;
    background-color: #ef233c !important;
    color: white !important;
    text-decoration: none !important;
    border: none !important;
    border-radius: 5px !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;  
}

.btn.btn-primary:hover {
    background-color: #d90429 !important;
}


/*Boton Cancelar reserva*/
.btn.btn-warning{
	display: inline-block !important; 
    padding: 10px 20px !important;
    margin: 10px 0 !important;
    background-color: #ef233c !important;
    color: white !important;
    text-decoration: none !important;
    border: none !important;
    border-radius: 5px !important;
    text-align: center !important;
    text-decoration: none !important;
    cursor: pointer !important;
    transition: background-color 0.3s !important;  
}

btn.btn-warning:hover{
	background-color: #d90429 !important;
}

/* Boton eliminar*/
.btn-danger {
    background-color: white;
    color: #ef233c; 
    border: 2px solid #ef233c;
}

.btn-danger:hover {
    background-color: #ef233c;
    color: white;
}
/*boton de cerrar sesion*/
button{
	  display: inline-block;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #ef233c;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;  	
}

button:hover {
    background-color: #d90429;
}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

article {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 15px;
    padding: 15px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

article img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

article:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}




form {
    margin-top: 10px;
}

p {
    margin: 5px 0;
}